h1 {
    color: red;
    font-size: 50px; 
}
h2 {
    color: rgb(166, 255, 0);
    font-size: 40px;
}
table {
    width: 50%;
    border-collapse: collapse;
    text-align: center;
    margin: 20px 0;
}

td, th {
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
}

tr {
    background-color: rgb(0, 111, 130);
}

.red {
    background-color: coral;
    color: rgb(20, 20, 20);
}

#green {
    background-color: green;
    color: white;
}

.div1 {
    position: relative;
    top: 20px; 
    left: 10px; 
    background: red;
}

#div2 {
    position: absolute;
    top: 20px; 
    left: 10px; 
}

.div3 {
    position: fixed;
    top: 20px; 
    left: 10px; 
}

#div4 {
    position: sticky;
    top: 20px;
    left: 10px; 
}

.div5 {
    position: static;
}

#ask-me {
    position: sticky;
    top: 50%;
    right: 0;
    background-color: yellow;
    padding-left: 10px;
    color: black;
    font-weight: bold;
}

.parent > *{
    font-size: 40px;
    background-color: rgb(0, 255, 55);

}

.parent p:nth-child(2) {
    color: red; /* Styles the second child */
}

.parent p:nth-child(4) {
    color: blue; /* Styles the fourth child */
}
