h1{
    color: red;
    font-size: 50px; 
}
h2{
    color: rgb(166, 255, 0);
    font-size: 40px;
}
table {
    width: 50%;
    border-collapse: collapse;
    text-align: center;
    display: flex; /* Flex for table */
    flex-direction: column;
    margin: 20px 0; /* Add vertical spacing */ 
}

td, th {
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
}

tr {
    background-color: rgb(0, 111, 130);
}

.red {
    background-color: coral;
    color: rgb(20, 20, 20);
}

#green {
    background-color: green;
    color: white;
}
