body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: turquoise;
}

h1 {
    color: red;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    color: rgb(166, 255, 0);
    font-size: 40px;
    font-style: italic;
    letter-spacing: 2px;
}

p {
    text-align: justify;
    text-indent: 20px;
    overflow-wrap: break-word;
}

img {
    border: 5px solid gray;
    border-radius: 15px;
    margin: 10px 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

table {
    width: 50%;
    border-collapse: collapse;
    text-align: center;
    margin: 20px 0;
}

td, th {
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    font-size: 18px;
}

tr:nth-child(even) {
    background-color: rgb(0, 111, 130);
}

.div-cls {
    padding: 10px;
    margin: 10px;
    border: 2px dashed #333;
}

#ask-me {
    position: sticky;
    top: 50%;
    right: 0;
    background-color: yellow;
    padding-left: 10px;
    color: black;
    font-weight: bold;
}

.parent > p:nth-child(2) {
    color: red;
    font-style: italic;
}

.parent > p:nth-child(4) {
    color: blue;
    font-variant: small-caps;
}

.parent > p:nth-child(1) {
    color: rgb(255, 255, 255);
    font-weight: bolder;
}